body {
background: rgb(99, 99, 124);
font: normal 16pt Arial;
font-style: italic;
}

header {
color: rgba(0, 0, 0, 0.534);
text-align: center;


}

section {
background: rgba(255, 255, 255, 0.801);
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);

}

footer {
font: 8pt; 
color: rgba(68, 48, 48, 0.753);
text-align: center;
font-style: italic;

}